$primary-color: gray;
$secondary-color: #444;
$header-text-color: white;
$off-white: #f3f3f5;
$child-width: 60%;
$default-radius: 5px;
$center: 0 auto;
$list-padding: 10px;
$default-box-shadow: 2px 2px 23px -2px rgba(0, 0, 0, 0.3);
$button-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.5);
$min-width: 400px;
$max-width: 1000px;

// Company styles
$uber-color-primary: #222233;
$uber-color-secondary: #161629;
$uber-color-hover: #363663;
$uber-color-active: #2d2d52;
$lyft-color-primary: #EA0B8C;
$lyft-color-secondary: #ef43a7;
$lyft-color-hover: #ee91c2;
$lyft-color-active: #ea7bb6;
