$primary-color: gray;
$secondary-color: #444;
$header-text-color: white;
$off-white: #f3f3f5;
$child-width: 60%;
$default-radius: 5px;
$center: 0 auto;
$list-padding: 10px;
$default-box-shadow: 2px 2px 23px -2px rgba(0, 0, 0, 0.3);
$button-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.5);
$min-width: 400px;
$max-width: 1000px;
// Company styles
$uber-color-primary: #222233;
$uber-color-secondary: #161629;
$uber-color-hover: #363663;
$uber-color-active: #2d2d52;
$lyft-color-primary: #EA0B8C;
$lyft-color-secondary: #ef43a7;
$lyft-color-hover: #ee91c2;
$lyft-color-active: #ea7bb6;
* {
  margin: 0;
  font-family: sans-serif;
  outline: none;
}

html,
body {
  height: 100%
}

body {
  background-color: $primary-color;
}

#container {
  margin: $center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  color: $header-text-color;
  background-color: white;
  transition: display 0.5s;
}

#site-title {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  color: $off-white;
  background-color: #426d7d;
  min-height: 30px;
  line-height: 30px;
  z-index: 300;
}

#app {
  height: inherit;
}

#wrapper {
  height: inherit;
}

.search-box {
  box-shadow: 0px -1px 3px 1px rgba(0, 0, 0, 0.5);
  background-color: #29322f;
  width: 33%;
  z-index: 5;
  padding: 0 10px;
  box-sizing: border-box;
}

.information-view {
  flex: 1;
  overflow: scroll;
  width: 100%;
}

.routesTest {
  position: inherit;
}

.location-form {
  margin: $center;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.location-search-inputs {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  width: 100%;
  margin: 20px 8px 24px;
  input {
    border: none;
    border-bottom: 1px solid #9e9e9e;
    background: transparent;
    color: white;
    font-weight: 300;
    width: 99.5%;
    margin-top: 4px;
    line-height: 2em;
    font-size: 14px;
  }
}

.current-location-start {
  display: flex;
  width: 100%;
  flex: 1;
}

.current-location {
  margin-top: 2px;
  width: 37px;
  background: transparent;
  border: 1px solid #9e9e9e;
  transition: background 1s ease;
  &:hover {
    cursor: pointer;
    ;
  }
}

.expand-btn-bar {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.expand-slider {
  width: 10%;
  min-width: 10px;
}

.expand-btn {
  width: 25%;
  box-flex: 1;
  border: 1px black solid;
}

.compass {
  margin-top: 5px;
}

// Elipse for loading current location
.loading {
  font-size: 30px;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  width: 0px;
}

// Spinner for Uber/Lyft requests
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}

.loader:before,
.loader:after {
  position: absolute;
  content: '';
}

.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #c8a083;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}

.loader {
  color: #fffcfa;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #c8a083;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.form-submit {
  display: flex;
  width: 100%;
}

.form-btn {
  background-color: transparent;
  min-height: 69px;
  min-width: 59px;
  font-weight: 300;
  color: #899d9d;
  border: 1px solid #c4c3c3;
  margin: -1px 7px 0px 0px;
  transition: background 0.4s ease;
  &:hover {
    cursor: pointer;
    background-color: #333d3a;
  }
  &:before {
    content: 'Go!';
    font-size: 1.5em;
    font-weight: 300;
    color: #bcbcbc;
  }
}

.inactive-expand {
  color: $secondary-color !important;
  opacity: .3;
  pointer-events: none;
}

.slider-show {
  transition: all 5s ease-in-out;
  color: white;
  margin: 10px;
  text-align: center;
  div {
    margin: auto;
  }
  input[type=range] {
    min-width: 100px;
    width: 20%;
    line-height: 2em;
    font-size: 1em;
  }
  ;
  span {
    margin: 0 20px;
  }
}

.slider-hide {
  display: none;
}

.search-btn {
  text-align: left;
  color: black;
}

.expand-search {
  text-align: left;
  margin: 0 20px 20px 20px;
  font-weight: 300;
}

.expand-slider {
  width: 10%;
  min-width: 10px;
}

.uber {
  background-color: $uber-color-secondary;
}

.lyft {
  background-color: $lyft-color-primary;
}

.expanded-routes {
  .price:hover {
    background-color: #426d7d;
  }
  .time:hover {
    background-color: #30b597;
  }
}

.price {
  background-color: #325461;
  border-radius: 0 !important;
}

.disclaimer {
  font-size: 12px;
  color: $off-white;
  opacity: .6
}

.price,
.time {
  transition-duration: 125ms;
}

.price-color {
  background-color: #325461;
  border-radius: 0 !important;
}

.time-color {
  background-color: #279a80;
  border-radius: 0 !important;
}

.time {
  background-color: #279a80;
  border-radius: 0 !important;
}

.list-item {
  cursor: pointer;
  padding: $list-padding;
  list-style-type: none;
  min-height: 70px;
}

.list-container {
  height: 100%;
  float: left;
  flex: 1;
  width: 33%;
  overflow: scroll;
  // background-color: $secondary-color;
  background: linear-gradient(0deg, white 0%, #f2f2f2 100%);
  margin: $center;
  div {
    transition-duration: 400ms;
  }
  ul {
    padding: 0px;
  }
}

.uber-list-container {
  box-shadow: $default-box-shadow;
  background-color: $uber-color-secondary;
  overflow: hidden;
  float: left;
  width: 50%;
  li {
    transition-duration: 125ms;
    &:nth-child(even) {
      background-color: $uber-color-primary
    }
    &:nth-child(odd) {
      background-color: $uber-color-secondary
    }
    &:hover {
      background-color: $uber-color-hover;
    }
    &:active {
      background-color: $uber-color-active;
    }
  }
}

.lyft-list-container {
  box-shadow: $default-box-shadow;
  background-color: $lyft-color-primary;
  overflow: hidden;
  float: right;
  width: 50%;
  li {
    transition-duration: 125ms;
    &:nth-child(even) {
      background-color: $lyft-color-primary;
    }
    &:nth-child(odd) {
      background-color: $lyft-color-secondary;
    }
    &:hover {
      background-color: $lyft-color-hover;
    }
    &:active {
      background-color: $lyft-color-active;
    }
  }
}

.route-name {
  font-weight: bold;
  font-size: 18px;
}

.route-cost {
  font-size: 18px;
  font-weight: bold;
}

.driver-eta,
.route-duration {
  font-size: 14px;
}

.selected-route-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 25%;
  right: 30%;
  left: 30%;
  color: #fff;
  z-index: 101;
  min-height: 250px;
  border-radius: $default-radius;
  box-shadow: 2px 2px 23px -2px rgba(0, 0, 0, 0.3);
}

#order-btn {
  width: 100px;
  height: 30px;
  margin: 5px;
  background: none;
  color: $off-white;
  border: 1px solid $off-white;
  transition-duration: 150ms;
  &:hover {
    background-color: #f2f2f2;
    color: #222;
  }
  &:active {
    box-shadow: inset 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
  }
  &:focus {
    outline: none;
  }
}

.lightbox-background {
  background: black;
  opacity: 0.5;
  position: fixed;
  z-index: 100;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.lightbox-hide {
  display: none;
}

.lightbox-show {
  display: inherit;
}

.map-container {
  height: 100%;
  z-index: 6;
}

#map-display {
  position: absolute;
  height: 100%;
  bottom: 0;
  width: 67%;
  left: 33%;
  color: #222;
  box-sizing: border-box;
  margin: $center;
  background-color: $secondary-color;
  &:before {
    box-shadow: 4px 0px 4px -3px rgba(0, 0, 0, 0.4) inset;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 5px;
    z-index: 70;
  }
}

.inactive-expand {
  opacity: .3;
  pointer-events: none;
}

.walking-distance {
  margin: $center;
  color: $off-white;
  background-color: $secondary-color;
  opacity: .8;
  left: 0;
  padding: 5px 0px;
  position: absolute;
  width: 100%;
  z-index: 29;
}

.empty-message {
  height: 100%;
  margin: 2em 0;
  color: gray;
  opacity: .3;
  display: inherit;
  transition: all .3s ease .15s;
}

.text-message {
  padding: 5px 20px;
  font-size: 14px;
}

// MOBILE-ISH ******************************************
@media (max-width: 955px) {
  #container {
    flex-direction: column;
  }
  .current-location {
    margin-top: 0;
    border-bottom: 1px solid gray;
  }
  .expand-search {
    margin: 10px 20px;
  }
  .expanded-routes {
    transition-duration: 400ms;
  }
  .walking-distance {
    width: 100%;
  }
  .information-view {
    display: flex;
    flex-direction: column;
  }
  #site-title {
    font-size: 22px;
    padding: 2px;
    display: none;
  }
  .marker-tag {
    margin: 5px 10px;
  }
  
  .compass {
    margin-top: 14px;
  }

  .list-container {
    width: 100%;
    order: 1;
    border-top: 1px solid $secondary-color;
    background: linear-gradient(0deg, white 0%, #f2f2f2 100%);
    flex: 1;
    overflow: scroll;
  }
  .list-item {
    // height: 2em;
    padding: 5px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 0;
  }
  .location-search-inputs {
    margin: 0;
  }
  .uber-list-container {
    overflow: scroll;
    height: 100%;
  }
  .lyft-list-container {
    overflow: scroll;
    height: 100%;
  }
  .route-name {
    font-size: 12px;
    padding: 0;
  }
  .driver-eta,
  .route-duration {
    font-size: 12px;
  }
  .route-cost {
    float: none;
    font-size: 14px;
    margin-right: 4px;
    height: auto;
    line-height: inherit;
  }
  .selected-route-container {
    right: 10%;
    left: 10%;
    min-height: 20em;
    h1 {
      font-size: 2em;
    }
    p {
      font-size: 1.5em;
    }
    #order-btn {
      margin-top: 1em;
      width: 6em;
      font-size: 1.5em;
      height: 3em;
    }
  }
  #map-display {
    position: inherit;
    flex: none;
    padding: 0;
    height: 230px;
    width: 100%;
    &:before {
      box-shadow: 0px 4px 3px -3px rgba(0, 0, 0, 0.3) inset;
      height: 5px;
      width: 100%;
    }
  }
  .search-box {
    box-shadow: none;
    background: #29322f;
    width: 100%;
    padding: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }
  .location-form {
    flex-direction: column;
    width: 100%;
    input {
      min-width: 0;
      margin: 0;
      padding: 0 0 0 10px;
      border: none;
      border-bottom: 1px solid gray;
      box-sizing: border-box;
      width: 100%;
      font-size: 1em;
      height: 3em;
    }
  }
  .form-submit {
    width: 100%;
    background-color: $off-white;
    button:first-child {
      margin-right: 1px;
    }
    button:nth-child(2) {
      margin-left: 1px;
    }
  }
  .form-btn {
    box-shadow: $button-box-shadow;
    background-color: #279a80;
    color: $off-white;
    border-radius: 0;
    margin: 0;
    border: none;
    width: 100%;
    font-size: 1.5em;
    height: 2em;
    cursor: pointer;
    &:hover {
      background-color: #279a80;
    }
    &:active {
      background-color: #30b597;
    }
    &:focus {
      outline: none;
    }
    &:before {
      content: 'Submit';
    }
  }
  .price,
  .time {
    padding: 15px !important;
    flex-direction: row !important;
    justify-content: center;
    .route-cost,
    .route-name {
      font-size: 16px;
    }
  }
  .disclaimer {
    font-size: 10px;
  }
}
