$primary-color: gray;
$secondary-color: #444;
$header-text-color: white;
$off-white: #f3f3f5;
$child-width: 60%;
$default-radius: 5px;
$center: 0 auto;
$list-padding: 10px;
$default-box-shadow: 2px 2px 23px -2px rgba(0, 0, 0, 0.3);
$button-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.5);
$min-width: 400px;
$max-width: 1000px;
// Company styles
$uber-color-primary: #222233;
$uber-color-secondary: #161629;
$uber-color-hover: #363663;
$uber-color-active: #2d2d52;
$lyft-color-primary: #EA0B8C;
$lyft-color-secondary: #ef43a7;
$lyft-color-hover: #ee91c2;
$lyft-color-active: #ea7bb6;
* {
  margin: 0;
  font-family: sans-serif;
  outline: none;
}

html,
body {
  height: 100%
}

body {
  background-color: $primary-color;
}

input[type=search] {
  -moz-appearance: none;
  /* older firefox */
  -webkit-appearance: none;
  /* safari, chrome */
  appearance: none;
  /* rest */
}

#container {
  margin: $center;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  text-align: center;
  color: $header-text-color;
  background-color: white;
  transition: display 0.5s;
}

#site-title {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  color: $off-white;
  background-color: #426d7d;
  min-height: 30px;
  line-height: 30px;
  z-index: 300;
}

#app {
  height: inherit;
}

#wrapper {
  height: inherit;
}

.search-box {
  box-shadow: 0px -1px 3px 1px rgba(0, 0, 0, 0.5);
  background-color: #29322f;
  width: 33%;
  z-index: 5;
  padding: 0 10px;
  position: relative;
  box-sizing: border-box;
}

.information-view {
  flex: 1;
  position: relative;
  overflow: scroll;
  width: 100%;
}

.information-view {
  flex: 1;
  overflow: scroll;
  width: 100%;
}

.routesTest {
  position: inherit;
}

.location-form {
  margin: $center;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.location-search-inputs {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  width: 100%;
  margin: 20px 8px 24px;
  input {
    border: none;
    border-bottom: 1px solid #9e9e9e;
    background: transparent;
    color: white;
    font-weight: 300;
    width: 99.5%;
    margin-top: 4px;
    line-height: 2em;
    font-size: 14px;
    padding-right: 10px;
  }
}

.current-location-start {
  display: flex;
  width: 100%;
  flex: 1;
}

.current-location {
  margin-top: 2px;
  width: 37px;
  background: transparent;
  border: 1px solid #9e9e9e;
  transition: background 1s ease;
  &:hover {
    cursor: pointer;
    ;
  }
}

.expand-btn-bar {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.expand-slider {
  width: 10%;
  min-width: 10px;
}

.expand-btn {
  width: 25%;
  box-flex: 1;
  border: 1px black solid;
}

.compass {
  margin-top: 5px;
}

// Elipse for loading current location
.loading {
  font-size: 30px;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  width: 0px;
}

// Spinner for Uber/Lyft requests
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}

.loader:before,
.loader:after {
  position: absolute;
  content: '';
}

.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #c8a083;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}

.loader {
  color: #fffcfa;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #c8a083;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.form-submit {
  display: flex;
  width: 100%;
}

.form-btn {
  background-color: transparent;
  min-height: 69px;
  min-width: 59px;
  font-weight: 300;
  color: #899d9d;
  border: 1px solid #9e9e9e;
  margin: -1px 7px 0px 0px;
  transition: background 0.4s ease;
  &:hover {
    cursor: pointer;
    background-color: #333d3a;
  }
  &:before {
    content: 'Go!';
    font-size: 1.5em;
    font-weight: 300;
    color: #bcbcbc;
  }
}

.inactive-expand {
  color: $secondary-color !important;
  opacity: .3;
  pointer-events: none;
}

.slider-show {
  transition: all 5s ease-in-out;
  color: white;
  margin: 10px;
  text-align: center;
  div {
    margin: auto;
  }
  input[type=range] {
    min-width: 100px;
    width: 20%;
    line-height: 2em;
    font-size: 1em;
  }
  ;
  span {
    margin: 0 20px;
  }
}

.slider-hide {
  display: none;
}

.search-btn {
  text-align: left;
  color: black;
}

.expand-search {
  text-align: left;
  margin: 0 20px 20px 20px;
  font-weight: 300;
}

.expand-slider {
  width: 10%;
  min-width: 10px;
}

.uber {
  background-color: $uber-color-secondary;
}

.lyft {
  background-color: $lyft-color-primary;
}

.expanded {
  background-color: #426d7d;
}

.expanded-routes {
  .price:hover {
    background-color: #426d7d;
  }
  .time:hover {
    background-color: #30b597;
  }
}

.price {
  background-color: #325461;
  border-radius: 0 !important;
}

.disclaimer {
  font-size: 11px;
  color: $off-white;
  opacity: .6;
  padding-top: 4px;
}

.price,
.time {
  transition-duration: 125ms;
}

.price-color {
  background-color: #325461;
  border-radius: 0 !important;
}

.time-color {
  background-color: #279a80;
  border-radius: 0 !important;
}

.time {
  background-color: #279a80;
  border-radius: 0 !important;
}

.list-item {
  border-bottom: 1px solid rgba(255,255,255,0.6);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  padding: 5px;
  list-style-type: none;
  margin: 0px 2px 0px 2px;
  min-height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list-container {
  height: 100%;
  float: left;
  flex: 1;
  width: 33%;
  position: absolute;
  overflow: scroll;
  background: linear-gradient(0deg, white 0%, #f2f2f2 100%);
  margin: $center;
  // margin-bottom: 2em;
  div {
    transition-duration: 400ms;
  }
  ul {
    padding: 0px;
  }
}

.uber-list-container {
  box-sizing: border-box;
  box-shadow: $default-box-shadow;
  background-color: $uber-color-secondary;
  overflow: hidden;
  position: absolute;
  width: 50%;
  li {
    transition-duration: 125ms;
    &:nth-child(even) {
      background-color: $uber-color-primary
    }
    &:nth-child(odd) {
      background-color: $uber-color-secondary
    }
    &:hover {
      background-color: $uber-color-hover;
    }
    &:active {
      background-color: $uber-color-active;
    }
  }
}

.lyft-list-container {
  box-sizing: border-box;
  box-shadow: $default-box-shadow;
  background-color: $lyft-color-primary;
  overflow: hidden;
  position: absolute;
  left: 50%;
  width: 50%;
  li {
    transition-duration: 125ms;
    &:nth-child(even) {
      background-color: $lyft-color-primary;
    }
    &:nth-child(odd) {
      background-color: $lyft-color-secondary;
    }
    &:hover {
      background-color: $lyft-color-hover;
    }
    &:active {
      background-color: $lyft-color-active;
    }
  }
}

.route-name {
  font-weight: bold;
  font-size: 16px;
}

.route-cost {
  font-size: 16px;
  padding-bottom: 2px;
  // font-weight: bold;
}

.driver-eta,
.route-duration {
  font-size: 13px;
  display: flex;
  align-items: center;
}

.surge-notice {
  font-size: 12px;
  color: yellow;
}

.selected-route-container {
  padding: 10px 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 25%;
  right: 30%;
  left: 30%;
  color: #fff;
  z-index: 101;
  min-height: 250px;
  border-radius: $default-radius;
  box-shadow: 2px 2px 23px -2px rgba(0, 0, 0, 0.3);
}

.walking-disclaimer {
  margin: 10px 0 0 0;
  font-size: 12px;
  max-width: 80%;
  color: #f3f3f5;
  opacity: .6;
}

#order-btn {
  width: 100px;
  height: 40px;
  margin: 10px 5px 5px 5px;
  background: none;
  color: $off-white;
  border: 1px solid $off-white;
  transition-duration: 150ms;
  &:hover {
    background-color: #f2f2f2;
    color: #222;
  }
  &:active {
    box-shadow: inset 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
  }
  &:focus {
    outline: none;
  }
}

.lightbox-background {
  background: black;
  opacity: 0.5;
  position: fixed;
  z-index: 100;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.lightbox-hide {
  display: none;
}

.lightbox-show {
  display: inherit;
}

.map-container {
  height: 100%;
  z-index: 6;
}

#map-display {
  position: fixed;
  height: 100%;
  bottom: 0;
  width: 67%;
  left: 33%;
  color: #222;
  box-sizing: border-box;
  margin: $center;
  background-color: $secondary-color;
  &:before {
    box-shadow: 4px 0px 4px -3px rgba(0, 0, 0, 0.4) inset;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 5px;
    z-index: 70;
  }
}

.inactive-expand {
  opacity: .3;
  pointer-events: none;
}

.walking-distance {
  margin: $center;
  color: $off-white;
  background-color: $secondary-color;
  opacity: .8;
  left: 0;
  font-size: 14px;
  padding: 3px 0px;
  position: absolute;
  width: 100%;
  z-index: 29;
}

.empty-message {
  pointer-events: none;
  height: 100%;
  margin: 2em 0;
  line-height: 1.5em;
  color: gray;
  h1 {
    opacity: .3;
  }
  display: inherit;
  transition: all .3s ease .15s;
}

.empty-message-img {
  margin-top: 3em;
  opacity: 0.6;
}

.text-message {
  padding: 5px 20px;
  font-size: 14px;
}

.travel-info {
  padding: 4px 0px;
  width: 90%;
  display: flex;
  justify-content: space-around;
  img {
    margin-right: 5px;
  }
  div:first-child {
    margin-right: 5px;
  }
}

.ride-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.expanded-list {
  background-color: #426d7d;
}
.expanded-routes {
  flex-direction: row;
  display: flex;
  justify-content: center;
}
.expanded-message {
  pointer-events: none;
  font-size: 14px;
  padding: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.expanded-list-item {
  position: relative;
  transition-duration: 200ms !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
  width: 100%;
  padding: 5px;
  background-color: #375b69;
  &:hover {
    background-color: #567a88;
  }
  &:nth-child(even) {
    background-color: #426d7d;
    &:hover {
      background-color: #567a88;
    }
  }
  .travel-info {
    margin: auto;
    align-items: center;
    padding-bottom: 2px;
    div:first-child {
      margin-bottom: 4px;
    }
  }
  .ride-info {
    padding-top: 3px;
  }
}

.active-expand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition-duration: 100ms;
  margin: 0;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #325461;
  padding-top: 5px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  span {
    font-size: 14px;
  }
  div {
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.expand-loading {
  height: 4em;
  width: 4em;
  margin: 1em auto;
}

.expand-btn {
  cursor: pointer;
  color: white;
  margin: 1px;
  border: none;
  background-color: #558698;
  width: 30%;
  padding: 10px;
  &:hover {
    background-color: #5c8fa2;
  }
}
// .pickup-distance-container {
//     display: flex;
//     align-items: center;
//     position: absolute;
//     right: 10px;
//     padding: 5px 0px;
//     font-size: 12px;
//     img {
//       width: 12px;
//       min-height: 100%;
//       margin-right: 3px;
//     }
//   }
.pickup-distance-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 4px 0px 0px;
  img {
    width: 12px;
    margin-right: 3px;
  }
}
.pickup-distance-active {
  display: flex;
  align-items: center;
  padding: 2px 20px;
  margin-top: 5px;
  img {
    width: 20px;
    margin-right: 5px;
  }
}
.list-message {
  font-size: 30px;
  line-height: 35px;
}

// MOBILE-ISH ******************************************
@media (max-width: 1050px) {
  #container {
    flex-direction: column;
  }
  .empty-message {
    // margin: 0em 0;
    h1 {
      display: none;
    }
  }
  .empty-message-img {
    max-height: 230px;
    max-width: 230px;
    margin-top: 1.3em;
  }
  .current-location {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    margin-top: 0;
    border: none;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    &:active {
      background-color: $secondary-color;
    }
    img {
      margin: 0;
    }
  }
  .expand-btn-bar {
    margin: 0 auto;
    background-color: inherit;
  }
  .expand-text {
    font-size: 14px;
    padding-bottom: 5px;
  }
  .walking-distance {
    width: 100%;
    bottom: 0;
  }
  .information-view {
    display: flex;
  }
  #site-title {
    font-size: 22px;
    padding: 2px;
    display: none;
  }
  .marker-tag {
    margin: 5px 10px;
  }
  .compass {
    margin-top: 14px;
  }
  .list-container {
    width: 100%;
    order: 1;
    position: relative;
    border-top: 1px solid $secondary-color;
    background: linear-gradient(0deg, white 0%, #f2f2f2 100%);
    // flex: 1;
    overflow: scroll;
  }
  .list-item {
    height: auto;
    padding: 7px;
    flex-direction: column;
    display: flex;
    align-items: center;
    min-height: 88px;
    box-sizing: border-box;
  }
  .location-search-inputs {
    margin: 0;
  }
  .uber-list-container {
    overflow: scroll;
    height: 100%;
  }
  .lyft-list-container {
    overflow: scroll;
    height: 100%;
  }
  .route-name {
    font-size: 12px;
    padding: 0;
  }
  .driver-eta,
  .route-duration {
    font-size: 12px;
  }
  .route-cost {
    float: none;
    font-size: 14px;
    margin-bottom: 2px;
    height: auto;
    line-height: inherit;
  }
  .selected-route-container {
    border-radius: 4px;
    right: 10%;
    left: 10%;
    min-height: 20em;
    h1 {
      font-size: 2em;
    }
    p {
      font-size: 1.5em;
    }
    #order-btn {
      margin-top: 1em;
      width: 6em;
      font-size: 1.5em;
      height: 3em;
    }
  }
  #map-display {
    position: relative;
    flex: none;
    padding: 0;
    left: 0;
    top: 0;
    height: 230px;
  }
  .search-box {
    box-shadow: none;
    background: #29322f;
    width: 100%;
    padding: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }
  .location-form {
    flex-direction: column;
    width: 100%;
    position: relative;
    input {
      min-width: 0;
      margin: 0;
      padding: 0 10px 0 10px;
      border: none;
      border-bottom: 1px solid gray;
      box-sizing: border-box;
      width: 100%;
      font-size: 1em;
    }
  }
  .form-submit {
    width: 100%;
    background-color: $off-white;
    button:first-child {
      margin-right: 1px;
    }
    button:nth-child(2) {
      margin-left: 1px;
    }
  }
  .form-btn {
    box-shadow: $button-box-shadow;
    background-color: #279a80;
    color: $off-white;
    border-radius: 0;
    margin: 0;
    border: none;
    width: 100%;
    font-size: 14px;
    min-height: 45px;
    cursor: pointer;
    &:hover {
      background-color: #279a80;
    }
    &:active {
      background-color: #30b597;
    }
    &:focus {
      outline: none;
    }
    &:before {
      color: $off-white;
      content: 'Search';
    }
  }
  .price,
  .time {
    padding: 15px !important;
    flex-direction: row !important;
    justify-content: center;
    .route-cost,
    .route-name {
      font-size: 16px;
    }
  }
  .disclaimer {
    font-size: 10px;
  }
  @media (min-width: 550px) {
    .selected-route-container {
      right: 20%;
      left: 20%;
    }
    .location-form {
      input {
        height: 3em;
      }
    }
    .walking-distance {
      bottom: auto;
    }
    .ride-info {
      width: 90%;
      margin: auto;
      justify-content: flex-start;
    }
    .route-name {
      font-size: 14px;
    }
    .route-cost {
      font-size: 18px;
    }
    .empty-message {
      font-size: 1.8em;
      margin-left: 10px;
      margin-right: 10px;
    }

    #container {
      position: inherit;
    }
    #map-display {
      width: 60%;
      position: fixed;
      left: 40%;
      height: auto;
    }
    .search-box {
      width: 40%;
    }
    .list-container {
      width: 40%;
      position: absolute;
    }
    .list-item {
      min-height: 100px;
      align-items: flex-start;
      flex-wrap: nowrap;
      padding: $list-padding;
    }
    .information-view {
      display: block;
      position: relative;
    }
    .map-container {
      width: 100%;
    }
    .walking-distance {
      width: 100%;
      top: 0;
      bottom: auto;
    }
    .disclaimer {
      margin: auto;
    }
  }
  @media(max-width: 599px) {
    .information-view {
      flex-direction: column;
    }
    #container {
      position: relative;
    }
    #map-display {
      width: 100%;
      &:before {
        box-shadow: 0px 4px 3px -3px rgba(0, 0, 0, 0.3) inset;
        height: 5px;
        width: 100%;
      }
    }

    .empty-message-img {
      display: relative;
      margin: $center;
      max-height: 40%;
      max-width: 40%;
    }
    .location-form {
      input {
        height: 3em;
      }
    }
  }


  @media(max-width: 400px) {
    .empty-message {
      margin-top: 0;
    }
    .empty-message-img {
      margin-top: 1em;
    }
  }
}
