$primary-color: gray;
$secondary-color: #444;
$header-text-color: white;
$off-white: #f3f3f5;
$child-width: 60%;
$default-radius: 5px;
$center: 0 auto;
$list-padding: 10px;
$default-box-shadow: 2px 2px 23px -2px rgba(0,0,0,0.3);
$min-width: 400px;
$max-width: 1000px;
// Company styles
$uber-color-primary: #222233;
$uber-color-secondary: #161629;
$uber-color-hover: #363663;
$uber-color-active: #2d2d52;
$lyft-color-primary: #EA0B8C;
$lyft-color-secondary: #ef43a7;
$lyft-color-hover: #ee91c2;
$lyft-color-active: #ea7bb6;

* {
  margin: 0;
}
html, body {
  height: 100%
}
body {
  background-color: $primary-color;
}
#header {
  background-color: rgba(0,0,0,.6);
  min-height: 40px;
  margin-bottom: 20px;
  // min-width: $min-width;
}
#footer {
  color: #d9d9d9;
  background-color: rgba(0,0,0,.6);
  padding-left: 10px;
  min-height: 25px;
  line-height: 25px;
  font-size: 14px;
  // min-width: $min-width;
}
#site-title {
  font-family: "Arial", sans-serif;
  font-size: 30px;
  color: #222;
  padding: 5px;
  border-bottom: 1px solid #222;
  background-color: $off-white;
}
#app {
  height: inherit;
}
#wrapper {
  height: inherit;
}
#container {
  // min-width: $min-width;
  // max-width: $max-width;
  margin: $center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  color: $header-text-color;
  // background: linear-gradient(90deg, #482BBD 0%, #e70b81 100%);
  background-color: white;
  // box-shadow: $default-box-shadow;
  // border-top-right-radius: $default-radius;
  // border-top-left-radius: $default-radius;
  // margin-bottom: 50px;
}
.information-view {
  flex: 1;
  display: flex;
}
.search-box {
  margin: $center;
  width: $child-width;
  padding: 10px;
  width: 100%;
}
.location-form {
  margin: $center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 70%;
  input {
    width: 90%;
    padding: 0px 0px 0px 5px;
    line-height: 2em;
    font-size: 1em;
  }
}
.form-submit {
  display: flex;
}
.form-btn {
  background-color: #e6e6e6;
  height: 30px;
  width: 100px;
  margin: 10px 5px 0px 5px;
  &:active {
    background-color: #cccccc;
  }
}
.uber {
  background-color: $uber-color-secondary;
}
.lyft {
  background-color: $lyft-color-primary;
}
.price {
  background-color: #325461;
  border-radius: 0 !important;
}
.time {
  background-color: #279a80;
  border-radius: 0 !important;
}
.list-item {
  cursor: pointer;
  padding: $list-padding;
  list-style-type: none;
  text-align: left;
  height: 70px;
}
.list-container {
  flex: 1;
  width: 100%;
  overflow: scroll;
  background-color: $secondary-color;
  margin: $center;
  ul {
    padding: 0px;
  }
  li {
    padding-right: 15px;
  }
  li:first-child {
  }
  li:last-child {
    border-bottom-right-radius: $default-radius;
    border-bottom-left-radius: $default-radius;
  }
}
.uber-list-container {
  box-shadow: $default-box-shadow;
  overflow: hidden;
  float: left;
  width: 50%;
  li {
    transition-duration: 125ms;
    &:nth-child(even) {
      background-color: $uber-color-primary
    }
    &:nth-child(odd) {
      background-color: $uber-color-secondary
    }
    &:hover {
      background-color: $uber-color-hover;
    }
    &:active {
      background-color: $uber-color-active;
    }
  }
}
.lyft-list-container {
  box-shadow: $default-box-shadow;
  overflow: hidden;
  float: right;
  width: 50%;
  li {
    transition-duration: 125ms;
    &:nth-child(even) {
      background-color: $lyft-color-primary;
    }
    &:nth-child(odd) {
      background-color: $lyft-color-secondary;
    }
    &:hover {
      background-color: $lyft-color-hover;
    }
    &:active {
      background-color: $lyft-color-active;
    }
  }
}
.route-name {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 5px;
}
.route-cost {
  float: right;
  font-size: 36px;
  font-weight: bold;
  line-height: 70px;
  height: 70px;
}
.selected-route-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 25%;
  right: 30%;
  left: 30%;
  color: #fff;
  z-index: 101;
  min-height: 250px;
  border-radius: $default-radius;
  box-shadow: 2px 2px 23px -2px rgba(0,0,0,0.3);
}
#order-btn {
  width: 100px;
  height: 30px;
  margin: 5px;
  background: none;
  color: $off-white;
  border: 1px solid $off-white;
  transition-duration: 150ms;
  &:hover {
    background-color: #f2f2f2;
    color: #222;
  }
  &:active {
    box-shadow: inset 0px 0px 10px -2px rgba(0,0,0,0.75);
  }
  &:focus {
    outline: none;
  }
}
.lightbox-background {
  background: black;
  opacity: .5;
  position: fixed;
  z-index: 100;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.lightbox-hide {
  display: none;
}
.lightbox-show {
  display: inherit;
}
.map-container {
  height: 100%;
  margin: $center;
  box-shadow: inset 10px 10px 37px -17px rgba(0,0,0,0.75);
}
#map-display {
  flex: 1;
  width: 100%;
  padding: 1px;
  box-sizing: border-box;
  margin: $center;
  background-color: $secondary-color;
}
.inactive-expand {
  opacity: .7;
  pointer-events: none;
}
// MOBILE-ISH ******************************************
@media (max-width: 885px) {
  #container {
    flex-direction: column;
  }
  .information-view {
    flex-direction: column;
  }
  #site-title {
    font-size: 22px;
    padding: 2px;
  }
  .list-container {
    flex: 0;
    overflow: visible;
  }
  .list-item {
    height: 12em;
  }
  .route-name {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  .driver-eta, .route-duration {
    font-size: 1em;
  }
  .route-cost {
    float: none;
    font-size: 3em;
  }
  .selected-route-container {
    right: 10%;
    left: 10%;
    min-height: 20em;
    h1 {
      font-size: 2em;
    }
    p {
      font-size: 1.5em;
    }
    #order-btn {
      margin-top: 1em;
      width: 6em;
      font-size: 1.5em;
      height: 3em;
    }
  }
  #map-display {
    flex: none;
    height: 330px;
    // pointer-events: none;
    // display: none;
  }
  .search-box {
    // margin-top: 10px;
    padding: 0;
    left: 0;
    right: 0;
    // position: absolute;
    // width: 80%;
    z-index: 99;
  }
  .location-form {
    width: 100%;
    input {
      border-radius: $default-radius;
      margin: 0;
      padding: 0 0 0 10px;
      // border-top: 1px inset gray;
      border: 1px solid gray;
      width: 100%;
      font-size: 1em;
      height: 3em;
    }
  }
  .form-submit {
    width: 100%;
    background-color: gray;
  }
  .form-btn {
    border-radius: $default-radius;
    background-color: $off-white;
    margin: 0;
    border: 1px solid $secondary-color;
    width: 50%;
    font-size: 1.5em;
    // height: 3em;
    height: 2.2em;
    cursor: pointer;
    &:active {
      background-color: #f2f2f2;
    }
  }
  .price, .time {
    height: 10em !important;
  }
}
