$primary-color: gray;
$secondary-color: #444;
$header-text-color: white;
$child-width: 60%;
$default-radius: 5px;
$center: 0 auto;
$list-padding: 10px;
$uber-color: #222233;
$lyft-color: #F36C9E;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  background-color: $primary-color;
}
#container {
  min-width: 1000px;
  max-width: 1200px;
  margin: $center;
  text-align: center;
  color: $header-text-color;
}
.search-box {
  margin: $center;
  background-color: $secondary-color;
  width: $child-width;
  margin-bottom: 30px;
  padding: 10px;
  display: flex;
}
.location-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 60%;
  input {
    width: 90%;
    padding: 0px 0px 0px 5px;
  }
}
.expand-search {
  float: left;
  width: 20%;
  overflow: hidden;
  button {
    width: 90%;
  }
}
.submit-btn {
  margin-top: 10px;
}
.uber {
  background-color: $uber-color;
}
.lyft {
  background-color: $lyft-color;
}
.list-item {
  padding: $list-padding;
  list-style-type: none;
  text-align: left;
}
.list-container {
  overflow: hidden;
  margin: $center;
  width: 90%;
  ul {
    padding: 0px;
  }
}
.uber-list-container {
  overflow: hidden;
  float: left;
  width: 50%;
  background-color: $uber-color;
}
.lyft-list-container {
  overflow: hidden;
  float: right;
  width: 50%;
  background-color: $lyft-color;
}
.selected-route-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 25%;
  right: 30%;
  left: 30%;
  color: #fff;
  z-index: 101;
  min-height: 250px;
  border-radius: $default-radius;
}
#order-btn {
  width: 100px;
  height: 30px;
  margin: 5px;
  background-color: #fff;
  color: $secondary-color;
  border: none;
  &:hover {
    background-color: #f2f2f2;
  }
  &:active {
    background-color: #fff;
  }
  &:focus {
    outline: none;
  }
}
.lightbox-background {
  background: black;
  opacity: .5;
  position: fixed;
  z-index: 100;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.lightbox-hide {
  display: none;
}
.lightbox-show {
  display: inherit;
}
// this is a temp class
.map-container {
  height: 100%;
  margin: $center;
  box-shadow: inset 10px 10px 37px -17px rgba(0,0,0,0.75);
}
#map-display {
  padding: 5px;
  box-sizing: border-box;
  margin: $center;
  height: 500px;
  width: 90%;
  background-color: $secondary-color;
}
