#map-display {
  width: 100%;
  position: relative;
  flex: none;
  padding: 0;
  left: 0;
  top: 0;
  height: 230px;
  &:before {
    box-shadow: 0px 4px 3px -3px rgba(0, 0, 0, 0.3) inset;
    height: 5px;
    width: 100%;
  }
}

.walking-distance {
  width: 100%;
  bottom: 0;
}
