.selected-route-container {
  border-radius: 4px;
  right: 10%;
  left: 10%;
  min-height: 20em;
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1.5em;
  }
  #order-btn {
    margin-top: 1em;
    width: 6em;
    font-size: 1.5em;
    height: 3em;
  }
}
