.empty-message {
  font-size: 1.8em;
  h1 {
    display: none;
  }
}
.empty-message-img {
  max-height: 230px;
  max-width: 230px;
  margin-top: 1.3em;
}

.list-container {
  width: 40%;
  position: absolute;
}


.uber-list-container {
  overflow: scroll;
  height: 100%;
}
.lyft-list-container {
  overflow: scroll;
  height: 100%;
}
