#map-display {
  position: fixed;
  height: 100%;
  bottom: 0;
  width: 67%;
  left: 33%;
  color: #222;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: $secondary-color;
  &:before {
    box-shadow: 4px 0px 4px -3px rgba(0, 0, 0, 0.4) inset;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 5px;
    z-index: 70;
  }
}
.map-container {
  height: 100%;
  z-index: 6;
}

.walking-distance {
  margin: $center;
  color: $off-white;
  background-color: $secondary-color;
  opacity: .8;
  left: 0;
  font-size: 14px;
  padding: 3px 0px;
  position: absolute;
  width: 100%;
  z-index: 29;
}
