.list-item {
  border-bottom: 1px solid rgba(255,255,255,0.6);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  padding: 5px;
  list-style-type: none;
  margin: 0px 2px 0px 2px;
  min-height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.surge-notice {
  font-size: 12px;
  color: yellow;
}

.travel-info {
  padding: 4px 0px;
  width: 90%;
  display: flex;
  justify-content: space-around;
  img {
    margin-right: 5px;
  }
  div:first-child {
    margin-right: 5px;
  }

  .driver-eta,
  .route-duration {
    font-size: 13px;
    display: flex;
    align-items: center;
  }
}

.ride-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.route-cost {
  font-size: 16px;
  padding-bottom: 2px;
}

.route-name {
  font-weight: bold;
  font-size: 16px;
}

.disclaimer {
  font-size: 11px;
  color: $off-white;
  opacity: .6;
  padding-top: 4px;
}
